/* Resetando alguns estilos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #20232a;
    color: white;
    text-align: center;
}

.container {
    background: #d32f2f;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
}

h1 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

.scoreboard {
    margin-bottom: 20px;
}

#clicks, #highscore {
    color: #ffeb3b;
    font-weight: bold;
}

.btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f44336;
}

#startButton {
    background-color: #00796b;
}

#startButton:hover {
    background-color: #004d40;
}
